name: Update and push flake lock

on:
  schedule:
    - cron: "* 2 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nixbuild/nix-quick-install-action@v29
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Setup git
        run: |
          git config --global user.name 'Github Actions'
          git config --global user.email 'alisonjenkins-gha@users.noreply.github.com'
      - name: Update flake
        run: |
          nix flake update --commit-lock-file && \
          git push origin main
